<div>
    <i class="fas fa-shopping-cart bg-light p-2 mb-2" id="display"></i>
    <div class="Info d-none position-absolute bg-light pl-2 pr-2 " style="z-index:1">
        <h6>Cart:</h6>
        <table id="Cart-Info-Table">
            <tr><th>Item name</th><th>Quantity</th></tr>
        </table>
    </div>
</div>
