<body class="vh-100 d-flex justify-content-center">
<div class="
      d-flex flex-column
      align-items-center
      align-self-center p-5
      w-auto rounded bg-secondary">
    <div class="w-100 text-center container-fluid">
        <h1>Restart password</h1>
        <hr />
    </div>
    <form id="logInForm"
          class="needs-validation">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <input class="form-control"
                   type="email"
                   id="email"
                   placeholder="E-mail" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-unlock-alt "></i>
                </span>
            </div>
            <input class="form-control"
                   type="password"
                   id="password"
                   placeholder="Password" />
        </div>
        <div class="input-group ">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fas fa-unlock-alt "></i>
                </span>
            </div>
            <input class="form-control"
                   type="password"
                   id="password"
                   placeholder="Password" />
        </div>
        <div class="text-center mt-2">
            <button type="submit"
                    id="loginBtn"
                    class="btn btn-primary px-5">
                Send
            </button>
        </div>
    </form>
</div>
</body>