@{
    ViewData["Title"] = "Register";
    @model DAL.Models.Register
}
<body class="vh-100 d-flex justify-content-center container-fluid">

    <div class="
      d-flex flex-column
      align-items-center
      align-self-center p-5
      w-auto rounded bg-secondary">
        <div class="w-100 text-center">
            <h1>Register</h1>
            <hr />
        </div>
        <form id="registerForm"
              class="needs-validation"
              role="form"
              method="post"
              action="http://localhost:8000/CreateUser">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text"
                               asp-for="FirstName"
                               class="form-control input-sm "
                               placeholder="First Name" />
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text"
                               asp-for="LastName"
                               class="form-control input-sm"
                               placeholder="Last Name" />
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="email"
                       asp-for="Email"
                       class="form-control input-sm"
                       placeholder="Email Address" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password"
                               asp-for="Password"
                               class="form-control input-sm"
                               placeholder="Password" />
                    </div>
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password"
                               asp-for="PasswordConfirm"
                               class="form-control input-sm"
                               placeholder="Confirm Password" />
                    </div>
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>

            <button type="submit"
                    class="btn btn-primary btn-block">
                Register
            </button>
        </form>
    </div>
</body>