<body>
    <div class="vh-100 container-fluid">
        <div class="row">
            <nav class="col-sm-12 col-lg-3 col-md-4
            navbar navbar-expand-md navbar-light
            d-flex flex-md-column flex-stretch
            bg-info text-white p-0">
                <div class="nav-brand py-2 pl-4 d-lg-none ">
                    user small
                </div>

                <div class="nav-brand py-2 text-center w-100
             d-none d-lg-block shadow">
                    user large
                </div>

                <button class="navbar-toggler mr-4 m-2"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarToggler"
                        aria-controls="navbarToggler"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse
               w-100"
                     id="navbarToggler">
                    <ul class="navbar-nav d-flex flex-column
               w-100 text-center align-self-start
               ">
                        <li class="nav-item  bg-secondary
                border-bottom shadow  ">
                            <a class="nav-link text-white px-0 border-top"
                               href="index.html">
                                Items
                            </a>
                        </li>
                        <li class="nav-item bg-secondary
                border-bottom shadow">
                            <a class="nav-link  text-white px-0"
                               href="Cart.html">Cart</a>
                        </li>
                        <li class="nav-item bg-secondary
              border-bottom shadow">
                            <a class="nav-link  text-white px-0"
                               href="Rented.html">Rented</a>
                        </li>
                        <li class="nav-item bg-secondary
                border-bottom shadow">
                            <a class="nav-link  text-white px-0"
                               href="Login.html">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col-lg-9 col-md-8 col-sm-12
           p-0 vh-100">
                <div class="container p-0 ">
                    <div class="container d-flex mt-4
                justify-content-between row">
                        <!-- Item image -->
                        <div class="col-md-12 col-lg-5
                align-self-center text-center mb-4">
                            <img src="http://duncanlock.net/images/posts/better-figures-images-plugin-for-pelican/dummy-200x200.png"
                                 alt="item image" />
                        </div>
                        <!-- Item Info -->
                        <div class="col-md-12 col-lg-7
                d-flex flex-column">
                            <p class="bg-secondary rounded p-2">
                                Name:
                            </p>
                            <p class="bg-secondary rounded p-2">
                                Quantity:
                            </p>
                            <p class="bg-secondary rounded p-2">
                                Datasheet:
                                <a href=""
                                   class="text-dark">Link</a>
                            </p>
                            <button class="btn btn-primary align-self-center w-50 mb-3">
                                Add
                            </button>
                        </div>
                        <!-- Item Description -->
                        <div class="col">
                            <div class="bg-secondary
                rounded p-2">
                                <p class="m-0">
                                    Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>