<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <environment exclude="Development">

        <link href="https://fonts.googleapis.com/css?family=Merienda|Roboto:400,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/lib/fontawesome-free/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="lib/DataTables/datatables.min.css">

        <link rel="stylesheet" href="/css/style.css" />

        @await Html.PartialAsync("_Scripts")
    </environment>
    <link src="css/site.min.css" />
    <script src="js/site.min.js"></script>
</head>
@RenderBody()
</html>