@{
    ViewData["Title"] = "Cart";
}
<body>
    <div class="vh-100 container-fluid">
        <div class="row">
            @Html.Partial("_Menu")
            <div class="col-lg-10 col-md-8 col-sm-12 p-0 vh-100 d-flex justify-content-center ">
                Rent all
            </div>
        
        </div>
    </div>
</body>