@{
    ViewData["Title"] = "Cart";
}
<div class="vh-100 container-fluid">
    <div class="row">
        @Html.Partial("_Menu")

        <div class="col-lg-10 p-5 col-md-8 col-sm-12 p-0  d-flex  flex-column">
            <div>
                <h1>Your cart:</h1>
            </div>
            <div>
                <table id="Cart-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ItemId</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div>
                <button class="btn btn-primary pl-5 pr-5" id="rent-btn">Rent</button>
            </div>
        </div>
    </div>
</div>
<script defer src="~/js/Cart.js"></script>