@{
    ViewData["Title"] = "Error";
}

<div class="vh-100 container-fluid">
    <div class="row">
        @await Html.PartialAsync("_Menu")
        <div class="col-lg-10 col-md-8 col-sm-12 p-0 vh-100 d-flex justify-content-center align-items-center">
           
                <div class="
      d-flex flex-column
      align-items-center
      align-self-center p-5
      w-auto rounded bg-secondary display-card ">
                 Error message 
                
            </div>
        </div>
    </div>
