$bgColor: #90b989;
$secondaryBG: rgba(196, 196, 196, 0.5);
$buttonColor: #3a5b34;
@mixin shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
